daemonset:
  enabled: true

resources:
  requests:
    cpu: "100m"
    memory: "100Mi"
  limits:
    cpu: "200m"
    memory: "200Mi"

filebeatConfig:
  filebeat.yml: |
    filebeat.inputs:
    - type: container
      paths:
        - /var/log/containers/*.log
      processors:
      - add_kubernetes_metadata:
          host: ${NODE_NAME}
          matchers:
          - logs_path:
              logs_path: "/var/log/containers/"
      - drop_event:
          when:
            or:
              - equals:
                  kubernetes.namespace: "kube-system"
              - equals:
                  kubernetes.namespace: "kube-public"

    output.elasticsearch:
      hosts: ["https://elasticsearch-master:9200"]
      protocol: "https"
      username: "elastic"
      password: "UMfQaoCwNA6aPwXM"
      ssl.verification_mode: "none"

    setup.kibana:
      host: "http://kibana-kibana:5601"

    setup.dashboards.enabled: true
    setup.ilm.enabled: true
    setup.ilm.rollover_alias: "filebeat"
    setup.ilm.pattern: "{now/d}-000001"

hostPathRoot: /var/lib
hostNetworking: false

# Correct service account syntax
serviceAccount: filebeat

securityContext:
  runAsUser: 0
  privileged: false

clusterRoleRules:
  - apiGroups: [""]
    resources:
      - namespaces
      - pods
      - nodes
    verbs:
      - get
      - watch
      - list
  - apiGroups: ["apps"]
    resources:
      - replicasets
    verbs:
      - get
      - list
      - watch
